.square {
    border: 1px solid black;
    padding: 0%;
    font-size: 6rem
}

.square:hover{
    background-color: #707994;
}

.X-cell{
    background-color:#14bdac;
    color: #70757a;
 }
 
 .O-cell {
    background-color: #ed1b2e;
    color:  rgb(242, 235, 211);
 }